/* COMMON */

* {
    box-sizing: border-box;
    outline: none; 
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
    font-weight: 500;     
}

h2 {
    font-size: 32px; 
    font-weight: 500;
}

h3 {
    font-size: 25px; 
    font-weight: 400;
}

p  {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-weight: 300;
}



/* Section Background  */

.bg {
    width: 100%;
    height: 100%;
    background-color: #25BDF8 ;
}

.wrapper {
    margin: 0 auto;
    width: 768px;
    height: 1024px;
    position: relative;
    border: 1px solid;

}

.wrapper .material-icons {
font-size: 40px;
position: absolute;
top: 60px;
left: 60px;
}

.wrapper .sc-logo {
    position: absolute;
    width: 60px;
    height: auto;
top: 40px;
right: 60px;

}

.wrapper h3 {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 130px;

}

.wrapper .title-group {
    text-align: center;
}

.wrapper .title-group h1 {
    margin-bottom: 16px;
}


.wrapper .title-group h2 {
    margin-bottom: 16px;
} 

.wrapper .title-group p {
    
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
}

.wrapper .title-group.headphone.on {
    display: none ;
}

.wrapper .title-group.listening {
    display: none;
}

.wrapper .title-group.listening.on {
    display: block;
}



.wrapper .main-char {
margin: 0 auto;
width: 500px;
height: auto;
}

.wrapper .story-desc {
    max-width: 400px;
    margin: 0 auto;
    margin-top: -40px;
    text-align: center;
}

.wrapper .story-desc.on {
    display: none;
}

.wrapper .btn-listen, .wrapper .btn-stop  {
position: absolute;
left: 0;
right: 0;
bottom: 100px;
margin: auto;
display: block;
text-align: center;
font-size: 32px;
font-weight: 600;
color: #fff;
border: none;
width: 460px;
height: 90px;
border-radius: 20px;

}

.wrapper .btn-listen {
    background-color: #E9CE15;
}

.wrapper .btn-listen.on {
    display: none;
}

.wrapper .btn-stop {
    display: none;
}

.wrapper .btn-stop.on {
    display: block;
    background-color: #EF6E12;
    
}